<!DOCTYPE html>
<html>
<head>
 
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1 style="font-family:Arial, Helvetica, sans-serif; color: #04AA6D;">Voice Assistant Ability</h1>

<table id="customers">
  <tr>
    <th>Commands</th>
    <th>Request</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>Listining</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Talking</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Play Music</td>
    <td>Play Music</td>
    <td>Playing Music</td>
  </tr>
  <tr>
    <td>Stop Music</td>
    <td>Stop Music</td>
    <td>Stoping Music</td>
  </tr>
  <tr>
    <td>Go to Home,About,Skills,Portfolio,Contact</td>
    <td>Go to Home,About,Skills,Portfolio,Contact</td>
    <td>Go to Home,About,Skills,Portfolio,Contact</td>
  </tr>
  <tr>
    <td>Mathematical ability</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Bitcoin Investment</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Joking</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Calendar</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>what uclock is it?</td>
    <td>Available</td>
    <td>Available</td>
  </tr>

</table>

</body>
</html>


